<div class="container">

  <!-- loading -->
    <div *ngIf="loader" class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>

      </p>
      <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
    </div>


  <div *ngIf="registration" class="success-message" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <img src="./assets/success.gif" alt="Tick Symbol" class="tick-symbol" style="height: 100px;width:100px">
    <h2>Registration Successful</h2>
    <p (click)="redirecttologin()" style="cursor:pointer">redirecting to Home Page...</p>
  </div>

    <div *ngIf="formopen && !loader" class="content">
        <div class="left-side">
          <div class="promotional-text">
            <h3>Discover the Latest Trends</h3>
            <p>Explore our curated collection of fashion-forward styles.</p>
            <p>Shop now and redefine your wardrobe!</p>
          </div>
        </div>
      <div class="right-side">
        <div class="topic-text">Register</div>
        <p *ngIf="!alert" >Please enter your Credentials to Register.</p>
        <div *ngIf="alert" class="alert alert-warning" role="alert">
          Please enter valid Credentials.
        </div>
      <form action="#">
        <div class="input-box">
        <input type="text" placeholder="Enter your Firstname" [(ngModel)]="firstname" name="firstname">
        </div>
        <div class="input-box">
        <input type="text" placeholder="Enter your Lastname" [(ngModel)]="lastname" name="lastname">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your Email" [(ngModel)]="Email" name="email">
        </div>
        <div class="input-box" style="margin:auto;display:flex;position: relative;">
          <input type="{{showpassword ? 'password' : 'text'}}" placeholder="Enter your Password" [(ngModel)]="Password"
            name="Password">
          <div style="position:absolute;right: 10px; top: 50%; transform: translateY(-50%);font-size: 20px;">
            <a *ngIf="showpassword" (click)="showpassword=!showpassword"><i class="bi bi-eye-slash"></i></a>
            <a *ngIf="!showpassword" (click)="showpassword=!showpassword"><i class="bi bi-eye"></i></a>
          </div>
        </div>
        <div class="button" style="padding:5px">
          <input type="button" value="Signup" (click)="submitSignup()">
        </div>
        <div class="button" style="padding:5px">
          <input type="button" value="Clear" (click)="clearform()">
        </div>
      </form>
    </div>
    </div>
  </div>