<div class="container">
    <div class="content">
        <div class="left-side">
            <!-- <img src="fashion-image.jpg" alt="Fashion Image" class="fashion-image"> -->
            <div class="promotional-text">
              <h3>Discover the Latest Trends</h3>
              <p>Explore our curated collection of fashion-forward styles.</p>
              <p>Shop now and redefine your wardrobe!</p>
            </div>
          </div>
      <div class="right-side">
        <div class="topic-text">Login</div>
        <p *ngIf="!alert" >Please enter your Credentials to Register.</p>
        <div *ngIf="alert" class="alert alert-warning" role="alert">{{alertmessage}}</div>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your Email" [(ngModel)]="Email" name="Email">
        </div>
        <div class="input-box" style="margin:auto;display:flex;position: relative;">
          <input type="{{showpassword ? 'password' : 'text'}}" placeholder="Enter your Password" [(ngModel)]="Password" name="Password">
          <div style="position:absolute;right: 10px; top: 50%; transform: translateY(-50%);font-size: 20px;">
            <a *ngIf="showpassword" (click)="showpassword=!showpassword"><i class="bi bi-eye-slash"></i></a>
            <a *ngIf="!showpassword" (click)="showpassword=!showpassword"><i class="bi bi-eye"></i></a>
          </div>
        </div>
        <a href="#" style="text-decoration: underline; margin-top: 5px; display: block; text-align: right;">Forgot password?</a>
          <div class="button" style="padding:5px">
          <input type="button" value="Login" (click)="submitLogin()">
        </div>
        <div class="button" style="padding:5px">
          <input type="button" value="Clear" (click)="clearform()">
        </div>
      </form>
    </div>
    </div>
  </div>
